<div class="vh-100 w-100 d-flex flex-column align-items-center p-3">
  <h2 class="text-center">{{ "initSettings.summary" | translate }}</h2>
  <div class="d-flex w-100 flex-row h-100 justify-content-between">
    <div
      *ngFor="let item of configItems"
      class="w-100 d-flex flex-column align-items-center justify-content-center gap-1"
    >
      <label [for]="item.id" class="fs-3">{{ item.label | translate }}:</label>

      <input
        class="form-control input-info"
        [placeholder]=""
        type="text"
        [id]="item.id"
        [value]="item.value"
        readonly
      />

      <button
        mat-icon-button
        class="d-flex justify-content-center"
        (click)="navPage(item.route)"
      >
        <mat-icon class="fs-4">edit</mat-icon>
      </button>
    </div>
  </div>
  <div class="d-flex flex-column w-50 gap-3 align-items-center">
    <h3 class="fs-3">{{ "initSettings.teams" | translate }}</h3>
    <div class="d-flex flex-row w-100 gap-2 justify-content-center">
      <mat-chip
        *ngFor="let team of teams"
        [ngStyle]="{ 'background-color': team.color }"
        >{{ team.name }}</mat-chip
      >
    </div>
  </div>
  <div class="w-100 d-flex justify-content-between">
    <button mat-raised-button (click)="prevPage()" class="buttons">
      ← {{ "initSettings.back" | translate }}
    </button>
    <button mat-raised-button (click)="nextPage()" class="buttons">
      {{ "initSettings.play" | translate }}
    </button>
  </div>
</div>
