<div class="d-flex flex-column align-items-center">
  <label [for]="inputId" class="form-label">{{ label }}</label>
  <div class="d-flex flex-row justify-content-center">
    <button
      mat-icon-button
      class="d-flex align-items-center"
      [disabled]="value <= min"
      (click)="decrement()"
      [attr.aria-label]="'decrement ' + label"
    >
      <mat-icon>arrow_back_ios</mat-icon>
    </button>

    <input
      [id]="inputId"
      type="number"
      [value]="value"
      class="form-control w-25 d-flex text-center"
      [attr.aria-valuenow]="value"
      [attr.aria-valuemin]="min"
      readonly
    />

    <button
      mat-icon-button
      class="d-flex align-items-center"
      (click)="increment()"
    >
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
  </div>
</div>
