// .test {
//   background-image: url("/assets/game-background3.webp");
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
//   height: 100vh;
// }

.timer {
  font-size: 1.2rem;
  min-width: 82px;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.timer.low-time {
  color: red;
  animation: pulse 0.5s infinite alternate;
}

.score {
  font-weight: bold;
  font-size: 1.2em;
  transition: color 0.3s;
}

.animate-correct {
  animation: scaleAnimation 0.5s ease-in-out;
}

.current-word {
  overflow-wrap: anywhere;
  font-size: 5em;
  font-weight: normal;
  color: #333;
}

.next_word_button {
  color: white !important;
  background-color: rgb(213, 61, 61);
  padding: 2em;
  border-radius: 8px;
}

.next_word_button:disabled {
  opacity: 0.5;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.correct_word_button {
  color: black !important;
  background-color: rgb(71, 213, 61);
  padding: 2em;
  border-radius: 8px;
}

.correct_word_button:disabled {
  opacity: 0.5;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
    color: #000;
  }
  50% {
    transform: scale(1.1);
    color: #4caf50;
  }
  100% {
    transform: scale(1);
    color: #000;
  }
}
