<div class="d-flex flex-column vh-100 justify-content-between p-3 test">
  <div class="d-flex flex-row w-100 justify-content-between">
    <div id="timeContainer" class="timer">
      ⏳ <span id="timeLeft">{{ timeLeft }}</span
      >s
    </div>
    <span>{{ currentTeam.name }}</span>

    <span
      class="score"
      [ngClass]="{ 'animate-correct': animateCorrect }"
      (animationend)="animateCorrect = false"
    >
      {{ "mainGame.guessed" | translate }}: {{ score }}</span
    >
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <span
      class="text-center current-word"
      [@wordAnimation]="animationState"
      (@wordAnimation.done)="wordAnimationDone($event)"
    >
      {{ currentWord }}
    </span>
  </div>
  <div class="d-flex flex-row w-100 justify-content-between">
    <button
      *ngIf="currentRound > 0"
      mat-button
      class="next_word_button buttonsFooter"
      (click)="missWord()"
      [disabled]="isInputDisabled"
    >
      {{ "mainGame.missedIt" | translate }}
    </button>

    <button
      *ngIf="currentRound === 0"
      mat-button
      class="next_word_button buttonsFooter"
      (click)="nextWord()"
      [disabled]="isInputDisabled"
    >
      {{ "mainGame.nextWord" | translate }}
    </button>
    <button
      mat-button
      class="correct_word_button buttonsFooter"
      (click)="correctWord()"
      [disabled]="isInputDisabled"
    >
      {{ "mainGame.correctWord" | translate }}
    </button>
  </div>
</div>
