<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>{{ "scoreTable.team" | translate }}</th>
        <ng-container *ngFor="let ronda of rondas; index as i">
          <th [ngClass]="{ 'gray-bg': i % 2 === 0 }">R{{ i + 1 }}</th>
        </ng-container>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of gameConfigService.getTeams">
        <td [style.backgroundColor]="team.color">{{ team.name }}</td>
        <ng-container *ngFor="let ronda of rondas; index as i">
          <td>{{ team.score[i] !== undefined ? team.score[i] : 0 }}</td>
        </ng-container>
        <td>{{ getTotalScore(team) }}</td>
      </tr>
    </tbody>
  </table>
</div>
