.table-container {
    display: flex;
    width: 100%;
    justify-content: center;
    overflow-x: auto;
  }
  
  table th,
  table td {
    min-width: 85px;
    padding: 8px;
    text-align: center;
  }
  
  .gray-bg {
    background-color: #f0f0f0;
  }
  
  .head {
    font-size: x-large;
  }
  
  .team {
    font-size: 3em;
  }
  
 

  