<div
  *ngIf="!nextRound; else nextRoundTemplate"
  class="d-flex flex-column w-100 h-100 justify-content-around"
>
  <mat-dialog-content class="d-flex flex-column p-3 gap-4">
    <div class="d-flex w-100 align-items-center gap-2 justify-content-between">
      <h2>Ronda acabada</h2>
      <span class="mb-1" *ngIf="data.remainingWords.length > 0"
        >Remaining Words: {{ data.remainingWords.length }}</span
      >
    </div>
    <app-score-table></app-score-table>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-raised-button class="nextButton" (click)="nextRound = true">
      Siguiente equipo
    </button>
  </mat-dialog-actions>
</div>

<ng-template #nextRoundTemplate>
  <div
    class="d-flex flex-column w-100 h-100 p-3"
    [ngStyle]="{ 'background-color': nextTeam.color }"
  >
    <div
      class="d-flex flex-column align-items-center justify-content-center h-100"
    >
      <h1 class="fw-normal">
        {{ "roundTransition.teamTurn" | translate }}: <br />
        <span class="d-block text-center fw-bold">{{ nextTeam.name }}</span>
      </h1>
    </div>
    <button mat-raised-button class="playButton" (click)="close()">
      {{ "roundTransition.play" | translate }}
    </button>
  </div>
</ng-template>
